tensorflow==2.13.1
numpy<=1.24.3,>=1.22
opencv-python
scipy
pillow
imageio
imageio-ffmpeg
tqdm
psutil
requests
protobuf>=3.20.3,<5.0.0
tensorboard>=2.13.0
google-auth-oauthlib>=0.5,<1.1
colorama==0.4.6
ffmpeg-python
numexpr
